body {
  background: linear-gradient(90deg, rgba(11, 225, 97, 0.036) 0%, rgb(209, 193, 51) 35%, rgb(13, 190, 225) 100%);
  text-align: center;
  margin: 40px;
  padding: 40px;
  display: grid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
